################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Debug
/String/.vs/String/v16
/String/Debug
/UnitTest/Debug
/String/String.vcxproj.user
/UnitTest/UnitTest.vcxproj.filters
/UnitTest/UnitTest.vcxproj.user
/.vs
